$space-large: 2.5rem;
$primary-color: #555;
$title-color: $primary-color;

.page-title {
    margin-top: $space-large;
    margin-bottom: $space-large;
    color: $title-color;
}

input[type=search] {
    box-shadow: none;
}